*{
    margin: 0;
    padding: 0;
}

ul {
    color: black;
    list-style: none;
    text-decoration: none;
    display: flex;
}

li {
    color: black;
    margin-right: 15px;
    margin-top: 1rem;
    list-style: none;
}
a {
    color: black;
    text-decoration: solid;
    margin-right: 15px;
    margin-top: 1rem;
}

.nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: flex-end;
    color: black;

}

.titulo {
    font-style: italic;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 40px;
}

.parrafoUno {
    display: flex;
    text-align: center;
    justify-content: center;
    size: 20px;
    margin-top: 30px;
}

/* imagenes del inicio*/

#productos {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-left: 200px;
}

.productos {
    margin-right: 360px;
    display: flex;
    justify-content: center;
    margin-left: 305px;
    margin-bottom: 50px;
}

.products {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 250px;
    margin-bottom: 40px;
}

.descripciones {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.velasTitle {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.velasUno {
    display: flex;
    justify-content: center;
}

.velasParrafo {
    text-align: center;
}

.difusoresTitleParrafo {
    margin-top: 100px;
    text-align: center;
}

/*cards1 y nav*/
.nav nav-tabs {
    text-decoration: none;
    list-style: none;
    color: black;
}

.card {
    
    align-items: center;
    margin: 20px;
}

#difusores {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


/*info y contacto*/





/*fondo animado*/
body{
    width: 100%;
    height: 100%;
    background: #ffffff;
    animation-name: mianimacion;
    animation-duration: 5s;
    animation-delay: 2s;
    position: relative;
    animation-direction:alternate-reverse;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes mianimacion {
    0% {background: #ffffff;}
    25% {background: #f9eaea;}
    50% {background: #ffdede;}
    75% {background: #ffc9c9;}
    100% {background: #f5c3c3;}
}

/*aparte editado css de boostrap*/

.nav-item {
    color: rgba(255, 255, 255, 0);
}
